@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body , #root{
  height: 100%;
}
body{
  font-family: 'Roboto',sans-serif;
  background-color: #E3B10E;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
}
ul{
  list-style: none;
}
*:focus{
  outline: 0;
}